In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv")
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [3]:
X = df.drop('Type', axis = 1) ## Input variable
Y = df['Type']    ## Target variable

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.30, random_state = 45)

In [5]:
### Apply Random forest model
from sklearn.ensemble import RandomForestClassifier

In [6]:
rfc = RandomForestClassifier()
rfc

RandomForestClassifier()

In [7]:
rfc.fit(X_train, Y_train)

RandomForestClassifier()

In [8]:
Y_prediction = rfc.predict(X_test)
Y_prediction

array([2, 1, 2, 2, 2, 2, 1, 1, 7, 2, 7, 1, 2, 2, 1, 2, 1, 6, 3, 1, 5, 2,
       7, 2, 1, 6, 1, 7, 2, 2, 1, 7, 1, 1, 2, 5, 7, 1, 2, 2, 2, 1, 2, 7,
       1, 1, 1, 1, 7, 2, 1, 1, 3, 1, 7, 5, 6, 7, 1, 2, 1, 1, 2, 7, 2],
      dtype=int64)

In [9]:
rfc.predict([[1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00]])

array([1], dtype=int64)

In [10]:
rfc.predict([[1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00]])

array([7], dtype=int64)

In [11]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_prediction, Y_test)

array([[17,  5,  2,  0,  0,  0],
       [ 2, 19,  0,  0,  0,  1],
       [ 1,  0,  1,  0,  0,  0],
       [ 0,  1,  0,  1,  0,  1],
       [ 0,  1,  0,  0,  2,  0],
       [ 0,  0,  0,  0,  0, 11]], dtype=int64)

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_prediction, Y_test)

0.7846153846153846